/* Color theme for the Orphanage side of the app*/
/*{Buttons = #e74c3c}*/
/*{Cards = #EEEEEE}*/
/*{Cards = #201E43}*/






    {/* Floating Action Button */}
    <View style={styles.fabContainer}>
    <TouchableOpacity onPress={() => console.log('Add a Campaign')} style={[styles.fabButton, fabButtonStyle(1)]}>
      <FontAwesome name="bullhorn" size={24} color="white" />
    </TouchableOpacity>
    <TouchableOpacity onPress={() => console.log('List a Project')} style={[styles.fabButton, fabButtonStyle(2)]}>
      <FontAwesome name="tasks" size={24} color="white" />
    </TouchableOpacity>
    {/* Add more buttons if necessary */}
    <TouchableOpacity onPress={toggleFab} style={styles.fabMain}>
      <FontAwesome name={isFabOpen ? 'times' : 'plus'} size={24} color="white" />
    </TouchableOpacity>
  </View>
</View>
);
};

























fabContainer: {
  position: 'absolute',
  bottom: 80,
  right: 20,
},
fabMain: {
  backgroundColor: '#201E43',
  width: 60,
  height: 60,
  borderRadius: 30,
  justifyContent: 'center',
  alignItems: 'center',
},
fabButton: {
  position: 'absolute',
  right: 0,
  backgroundColor: '#134B70',
  width: 50,
  height: 50,
  borderRadius: 25,
  justifyContent: 'center',
  alignItems: 'center',
},
});
